body {
	font-family: Lato, sans-serif;
	font-weight: 400;
	color: #747704;
	margin-top: 20px;
	transition: margin-top 0.5s;
}

.faded-text {
	color: #bcbbbb;
}

.thin-text {
	font-weight: 100;
}

.shadowed-image {
	box-shadow: 2px 2px 10px #999;
	margin: 0 auto;
}

/* Responsive styles */

/* From Bootstrap docs: */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.container {
	min-width: 320px;
	transition: width 0.5s;
}

.logo {
	width: 80px;
	min-width: 80px;
	transition: width 0.5s;
	margin-top: 20px;
	padding: 10px;
	border: none;
	border-radius: 50%;
	box-shadow: -1em -0.3em 10px #999 inset;
}

hr {
	border-top: 1px solid #bcbbbb;
	margin-bottom: 20px;
	transition: margin-bottom 0.5s;
	transition: border-top 0.5s;
}

.header-title {
	font-weight: 100;
	font-size: 40px;
	transition: font-size 0.5s;
}

.header-subtitle {
	font-weight: 300;
	font-size: 15px;
	transition: font-size 0.5s;
}

.featured-work {
	margin: 20px 10px 10px;
}

.project-title {
	font-size: 20px;
	margin: 10px auto 2px;
	transition: font-size 0.5s;
}

.project-link {
	height: 48px;
	font-weight: 300;
	font-size: 14px;
	transition: font-size 0.5s;
}

.project-link a {
	display: inline-block;
	padding: 17px 0;
}

/* From Bootstrap docs: */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body {
		margin-top: 35px;
		transition: margin-top 0.5s;
	}

	.logo {
		width: 105px;
		max-width: 105px;
	}

	.header-title {
		font-size: 55px;
	}

	.header-subtitle {
		font-size: 20px;
	}

	hr {
		border-top: 4px solid #bcbbbb;
		margin-bottom: 40px;
	}

	.project-title {
		font-size: 24px;
	}

	.project-link {
		font-size: 12px;
	}
}

/* From Bootstrap docs: */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	body {
		margin-top: 40px;
		transition: margin-top 0.5s;
	}

	.logo {
		width: 120px;
		max-width: 120px;
	}

	.header-title {
		font-size: 64px;
	}

	.header-subtitle {
		font-size: 24px;
	}

	.project-title {
		font-size: 40px;
		margin-bottom: 5px;
	}

	.project-link {
		font-size: 18px;
	}
}

/* Large devices (1200px and up) */
@media (min-width: 1200px) {
	.container {
		width: 1120px;
	}
}


